<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="heading"><br><br><br>
        <center><h1>Our Products</h1></center></div>
    {% for i in daca %}
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <div class="left-images">
                    <img src="{{i.image.url}}" width="250px" height="600px" alt="">
                    <!-- <img src="assets/images/single-product-02.jpg" alt=""> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>{{i.name}}</h4>
                    <span class="price">₹{{i.price}}</span>
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Sizes available:{{i.size}}</span>
                    <div class="quote">
                        <!-- <i class="fa fa-quote-left"></i><p>Sizes available:{{i.size}}</p> -->
                    </div>
                    <!-- <div class="quantity-content">
                        <div class="left-content">
                            <h6>Sizes available:{{i.size}}</h6>
                        </div>
                        <div class="right-content">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                            </div>
                        </div>
                    </div> -->
                    <div class="total">
                        <h4></h4>
                        <div class="main-border-button"><a href="{% url 'pro_details' dataid=i.id %}">Details</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    {% endfor %}
    
</body>
</html>
<style>
    h1 {
  color: black;
  background-color: white;
  padding: 10px;
  text-align: center;
}

</style>
{% endblock %}

